@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,500;0,700;1,700&display=swap');

*,*::before,*::after{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family:'Jost', sans-serif;
}

.main{
    width: 100vw;
    height: 100vh;
    background-color: #f6f6f6;
    display: grid;
    place-items: center;
}
.music_section{
    width: 35rem;
    height: 55rem;
    background-color: #e46b6b;
    border-radius: 2rem;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0,0,0,0.2);
    padding: 3rem;
    text-align: center;
}
#title{
    font-size: 3rem;
}
.main_section #title{
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    word-spacing: 0.5rem;
    color: #171717;
    margin: 2rem 0 0.5rem 0;
    
    font-weight: 500;
    text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.3);
}

.music_section #artist{
    color: #cccaca;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    font-size: 2rem;
    margin-bottom: 4rem;
    font-weight: 300;

}

.image-wrapper{
    width: 25rem;
    height: 25rem;
    margin: auto;

}
img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0,0,0,0.4);
}
.music_controls{
    width: 20rem;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 5rem;
    align-items: center;
}

.music_controls .fa-solid{
    color: #111111;
    font-size: 2rem;
    cursor: pointer;
    filter: drop-shadow(0 1.2rem 3rem 0.5rem rgba(0,0,0,0.4));
}

.music_controls .main-button{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #111;
    color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;

}
.music_controls .fa-play:hover{
    color: #111;
    background-color: #f6f6f6;
    box-shadow: 0 1rem 2rem 0.2rem rgba(0,0,0,0.4);
}

.animate{
    animation: rotatePlayer 3s linear infinite;
}

.stop{
    animation: stopPlayer;
}
@keyframes stopPlayer {
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(0deg);
    }
}
@keyframes rotatePlayer {
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}